.postButton {
  padding: 1vh 1vw;
  border-radius: 25vw 8vh;
  float: right;
}

.postMaker {
  z-index: 10000;
  background-color: aqua;
  margin: 20vh 25vw 0vh 10vw;
}

.buttonPost:hover {
  background-color: aliceblue;
  cursor: pointer;
}

textarea {
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 1vh;
  width: 87.5vw;
  height: 12vh;
  border: 2px solid black;
  border-radius: 4px;
}

.buttonPost {
  position: absolute;
  margin-left: 85vw;
  padding: 2vh 2vw;
  border: 3px solid black;
  border-radius: 4px;
}

.posts {
  margin: 15vh 15vw 0vh 15vw;
}
.postInformation{
  font-size: 2.6vh;
  padding: 1vh 1vw;
  border-radius: 10px;
  background-color: #ff9590;
}
.postSolo {
  margin-bottom: 2vh;
  padding: 1vh 1vw;
  font-size: 2.2vh;
  background-color: #ffaaa6;
  border: 6px solid #ffaaa6;
  border-radius: 10px;
  word-wrap: break-word;
}


.postTitle{ 
  margin-top: 15vh;
  height: 3vh;
  width: 30vw;
}