.menuBox {
  font-size: 3vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #ff8a80;
  position: fixed;
  top: 0;
  height: 12vh;
  line-height: 11vh;
  width: 100%;
  text-align: center;
  align-items: center;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
  z-index: 100;
  a {
    color: black;
  }
}

body {
  background-color: #fff2f2;
  height: 100%;
  width: 100%;
}

.menuTile1 {
  width: 25vw;
  height: 11vh;
  background-color: #ff8a80;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
  float: left;
  margin-left: 5vw;
}
.menuTile2 {
  width: 25vw;
  height: 11vh;
  background-color: #ff8a80;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
  float: left;
  margin-left: 7.5vw;
}
.menuTile3 {
  width: 25vw;
  height: 11vh;
  background-color: #ff8a80;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
  float: right;
  margin-right: 5vw;
}
.menuTile1:hover {
  animation-name: menuHoverAnimation;
  animation-duration: 0.25s;
  animation-delay: 0.05s;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.menuTile2:hover {
  animation-name: menuHoverAnimation;
  animation-duration: 0.25s;
  animation-delay: 0.05s;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.menuTile3:hover {
  animation-name: menuHoverAnimation;
  animation-duration: 0.25s;
  animation-delay: 0.05s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes menuHoverAnimation {
  from {
    padding: 0;
  }
  to {
    border-bottom-left-radius: 25vw;
    border-bottom-right-radius: 25vw;
    line-height: 5vh;
    padding: 3vh 1.5vw;
    background-color: #ff5151;
    text-shadow: 1px 1px #ffaaa6;
  }
}
